

<nav class=" white"  style="box-shadow:none;">
  <% if logged? %>
    <p style=" " class="waves-effect waves-light btn white white-text"><%= link_to 'Log out', session_destroy_path, method: :delete %></p>
    <p style=" margin-left:20px;" class="waves-effect waves-light btn white   "><%= link_to 'Profile', user_profile_url(current_user.id) %></p>
  <% else %>
  <div class="">
    <p style="margin-left:; margin-right:30px;" class="waves-effect waves-light btn white white-text"><%= link_to 'Log in', login_path %></p>
    <p style="margin-left:30px;" class="waves-effect waves-light btn white white-text"><%= link_to 'Register', register_path %></p>
  </div>
  <% end %>
</nav>
